@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0D1117;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Add any custom styles here */
@layer utilities {
  .shimmer {
    @apply bg-gradient-to-r from-transparent via-white/10 to-transparent bg-[length:200%_100%];
  }
}

@layer components {
  .animate-shimmer {
    animation: shimmer 2s linear infinite;
  }
}

@keyframes shimmer {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}
